<div class="premise-section">
  <h2>Premises Management</h2>

  <div *ngIf="!selectedDeveloper">
    <h3>Select a Developer</h3>
    <mat-form-field appearance="fill">
      <mat-label>Developer</mat-label>
      <mat-select (selectionChange)="selectDeveloper($event.value)">
        <mat-option *ngFor="let developer of developers" [value]="developer">
          {{ developer.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div *ngIf="selectedDeveloper">
    <h3>Premises for {{ selectedDeveloper.name }}</h3>
    <button class="btn add-btn" (click)="addNewPremise()">Add New Premise</button>

    <table>
      <thead>
      <tr>
        <th>Name</th>
        <th>Address Street</th>
        <th>Building Number</th>
        <th>Flat Number</th>
        <th>Postal Code</th>
        <th></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let premise of premises">
        <td>{{ premise.number }}</td>
        <td>{{ premise.floor }}</td>
        <td>{{ premise.salesStatus }}</td>
        <td>{{ premise.surfacePerSqMeter }}</td>
        <td>{{ premise.totalPrice }}</td>
        <td class="action-buttons">
          <button class="btn-edit" (click)="editPremise(premise)">Edit</button>
          <button class="btn-delete" (click)="deletePremise(premise)">Delete</button>
        </td>
      </tr>
      </tbody>
    </table>

    <div *ngIf="isNewPremise || selectedPremise">
      <h3>{{ isNewPremise ? 'Add New Premise' : 'Edit Premise' }}</h3>
      <form [formGroup]="premiseForm" (ngSubmit)="isNewPremise ? saveNewPremise() : updatePremise()">
        <label for="name">Name:</label>
        <input id="name" formControlName="name">

        <label for="addressStreet">Address Street:</label>
        <input id="addressStreet" formControlName="addressStreet">

        <label for="buildingNumber">Building Number:</label>
        <input id="buildingNumber" formControlName="buildingNumber">

        <label for="flatNumber">Flat Number:</label>
        <input id="flatNumber" formControlName="flatNumber">

        <label for="postalCode">Postal Code:</label>
        <input id="postalCode" formControlName="postalCode">

        <button type="submit">{{ isNewPremise ? 'Add' : 'Save' }}</button>
        <button type="button" (click)="cancelEdit()">Cancel</button>
      </form>
    </div>
  </div>
</div>
