.filter-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px; /* Adjust padding for overall spacing */
  margin-top: 40px; /* Add margin to push it down from the header */
  background-color: #f5f5f5; /* Light background for better visibility */
  border-radius: 8px; /* Optional: for rounded corners */
}

.filter-container {
  flex: 1;
  margin: 0 20px; /* Increase margin between filters for better spacing */
  text-align: center;
}

.filter-label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.price-slider, .rooms-slider, .area-slider {
  width: 100%;
}

.price-display, .rooms-display, .area-display {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  font-size: 1em;
  font-weight: bold; /* Make the numbers bold */
  color: #333;
}
