<div class="filter-wrapper">
  <div class="filter-container">
    <span class="filter-label">{{ 'shared.filter.price' | translate }}</span>
    <mat-slider class="price-slider" [min]="minAllowedPrice" [max]="maxAllowedPrice" step="10000">
      <input matInput [value]="minPrice" (input)="onMinPriceChange($event)" matSliderStartThumb>
      <input matInput [value]="maxPrice" (input)="onMaxPriceChange($event)" matSliderEndThumb>
    </mat-slider>
    <div class="price-display">
      <span class="price-from">{{ formatPrice(minPrice) }}</span>
      <span class="price-to">{{ formatPrice(maxPrice) }}</span>
    </div>
  </div>
</div>
