<toolbar></toolbar>

<!--<mat-toolbar>-->
<!--  <section>-->
<!--    <div class="example-button-row">-->
<!--      <button mat-raised-button><a routerLink="/premises">Premises</a></button>-->
<!--      <button mat-raised-button><a routerLink="/dashboard">Best Premises</a></button>-->
<!--      <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>-->
<!--    </div>-->
<!--  </section>-->
<!--</mat-toolbar>-->

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-dark my-5">
        <div class="card-body">
          <ul class="text-center list-inline py-3">
            <li class="list-inline-item">
              <a routerLink="/premises" class="btn btn-info">Premises</a>
            </li>
            <li class="list-inline-item">
              <a routerLink="/dashboard" class="btn btn-info">Best Premises</a>
            </li>
          </ul>
        </div>
      </div>
      <router-outlet></router-outlet>
      <app-messages></app-messages>
    </div>
  </div>
</div>
