<html xmlns:th="http://www.thymeleaf.org">

<body>

<div th:fragment="modal" class="modal"
     th:id="delete-order-modal'">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-red p-2">
            <div class="modal-body w-100">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <p> </p>
                <p class="font-weight-bold text-center">Czy na pewno chcesz usunąć to zamówienie?</p>
                <p class="text-center">
                    <button type="button" id="orderDeleteConfirmButton"
                        onclick="deleteOrder(this.getAttribute('data-orderId'));">
                        Tak
                    </button>
                    <button type="button" data-dismiss="modal">
                        Anuluj
                    </button>
                </p>
            </div>
        </div>
    </div>
</div>

</body>
</html>