<meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>Course Platform - Panel Admin</title>
<link rel="shortcut icon" type="image/x-icon" th:href="${@applicationConfig.getLogoPanelPath()}" />


<link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
<link rel="stylesheet" th:href="@{/fonts/fonts.css}" />
<link rel="stylesheet" th:href="@{/css/index.css}" />


<script th:src="@{/libs/jquery-3.4.1.js}"></script>
<script th:src="@{/libs/bootstrap.bundle.js}"></script>
<script th:src="@{/js/index.js}"></script>
<script th:src="@{/js/admin-index.js}"></script>
<script th:replace="fragments/languages-script-admin"></script>
