<html xmlns:th="http://www.thymeleaf.org">

<body>

    <div th:fragment="modal" class="modal"
        th:id="'show-email-modal'">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
            <div class="modal-content bg-light">
                <div class="modal-header w-100">
                    <h4 class="modal-title">Historia wysłanych wiadomości - podgląd</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="email modal-body w-100">

                    <div id="email_body"></div>

                </div>
            </div>
        </div>
    </div>

</body>
</html>