<html xmlns:th="http://www.thymeleaf.org">

<body>

    <div th:fragment="modal" class="modal"
         th:id="'show-change-modal-' + ${change.no}">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
            <div class="modal-content bg-light">
                <div class="modal-header w-100">
                    <h4 class="modal-title">Historia zmian - podgląd</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body w-100">

                    <table class="table table-bordered bg-light">
                        <tr>
                            <td>Klient wymagający</td>
                            <td th:text="${change.demandingCustomerIndicator}"></td>
                        </tr>
                        <tr>
                            <td>Rodzaj płatności</td>
                            <td th:text="${change.paymentMethodName}"></td>
                        </tr>
                        <tr>
                            <td>Płatność kartą</td>
                            <td th:text="${change.cardPaymentIndicator}"></td>
                        </tr>
                        <tr>
                            <td>Status płatności</td>
                            <td th:text="${change.paymentStatus}"></td>
                        </tr>
                        <tr>
                            <td>Sposób dostawy</td>
                            <td th:text="${change.deliveryMethodName}"></td>
                        </tr>
                        <tr>
                            <td>Imię</td>
                            <td th:text="${change.firstName}"></td>
                        </tr>
                        <tr>
                            <td>Nazwisko</td>
                            <td th:text="${change.lastName}"></td>
                        </tr>
                        <tr>
                            <td>Telefon</td>
                            <td th:text="${change.phoneNumber}"></td>
                        </tr>
                        <tr>
                            <td>Ulica</td>
                            <td th:text="${change.street}" ></td>
                        </tr>
                        <tr>
                            <td>Numer domu</td>
                            <td th:text="${change.buildingNumber}"></td>
                        </tr>
                        <tr>
                            <td>Numer mieszkania</td>
                            <td th:text="${change.buildingNumber}"></td>
                        </tr>
                        <tr>
                            <td>Kod pocztowy</td>
                            <td th:text="${change.postalCode}"></td>
                        </tr>
                        <tr>
                            <td>Miejscowość</td>
                            <td th:text="${change.cityName}"></td>
                        </tr>
                        <tr>
                            <td>Godziny dostawy</td>
                            <td th:text="${#temporals.format(change.hourFrom, 'H:mm')} + ' - ' + ${#temporals.format(change.hourTo, 'H:mm')}"></td>
                        </tr>
                    </table>

                    <p class="lead">Produkty w zamówieniu:</p>
                    <table class="table table-bordered bg-light">
                        <thead class="thead-light">
                            <tr>
                                <th>Produkt</th>
                                <th>Ilość</th>
                                <th>Cena</th>
                                <th>Od dnia</th>
                                <th>Ilość dni</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="product : ${change.products}">
                                <td th:text="${product.productName}"></td>
                                <td th:text="${product.quantity}"></td>
                                <td th:text="${product.price} + ' PLN'"></td>
                                <td th:text="${product.dateFrom}"></td>
                                <td th:text="${product.daysLeft}"></td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>

</body>
</html>