<!--<ng-template #headerContainer></ng-template>-->
<!--<main>-->
<!--  <ng-template #homeContainer></ng-template>-->
<!--  <ng-template #contactContainer></ng-template>-->
<!--  <router-outlet></router-outlet>-->
<!--</main>-->
<!--<ng-template #footerContainer></ng-template>-->

<ng-template #headerContainer></ng-template>
<main>
  <ng-template #homeContainer></ng-template>
  <ng-template #contactContainer></ng-template>

  <!-- Placement depends on when you want the investment list to be shown -->
  <ng-template #investmentListContainer></ng-template>

  <router-outlet></router-outlet>
</main>
<ng-template #footerContainer></ng-template>
