<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>
        <div th:replace="fragments/head"></div>
        <script th:src="@{/js/accounts.js}"></script>
    </head>

    <body>
        <div th:replace="fragments/menu :: menu"></div>

        <h5>Accounts</h5>

        <p>Total accounts count: <span id="count">0</span></p>

        <form id="filter" class="bg-light border m-0 p-0 my-3">
            <div class="form-row m-0 p-0">

                <div class="form-group row col-12 col-lg-6 border m-0 p-0 py-2">
                    <label for="name" class="col-12 col-sm-3 col-md-2 col-xl-3 my-auto text-center">Name:</label>
                    <div class="col-12 col-sm-9 col-md-10 col-xl-9 my-auto">
                        <input type="text" id="name" class="form-control"/>
                    </div>
                </div>

                <div class="col-12 col-sm-12 col-lg-6 border text-center m-0 p-0 py-2 d-flex align-items-center justify-content-center">
                    <button type="button" class="btn btn-secondary" onclick="clearSearchFiltersAndRefresh()">Clear</button>
                </div>

            </div>
        </form>

        <button type="button" class="btn btn-success btn-lg btn-block" data-toggle="modal" data-target="#create-account-modal">Create</button>

        <div id="result-container" class="my-4">
            <div class="table-responsive mb-0 pb-0">
                <table class="table bg-light table-bordered table-hover table-sm mb-0 pb-0">
                    <thead class="thead-light">
                        <tr>
                            <th class="align-middle">ID</th>
                            <th class="align-middle">Name</th>
                            <th class="align-middle">Details</th>
                            <th class="align-middle">Delete</th>
                        </tr>
                    </thead>
                    <tbody id="records">

                    </tbody>
                </table>
            </div>
        </div>


        <div class="modal fade" id="create-account-modal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Create new account</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="text-center">
                            <div class="form-group">
                                <label for="create-account-name">Name</label>
                                <input id="create-account-name" type="text" class="form-control">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" onclick="sendCreateAccountRequest()">Create</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>


        <div th:replace="fragments/pagination :: pagination"></div>
        <div th:replace="fragments/operation-successful-modal :: modal"></div>
        <div th:replace="fragments/delete-object-modal :: modal"></div>
    </body>

</html>