<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="fragments/head"></div>
    <script th:src="@{/js/admin-notifications-send.js}"></script>
</head>

<body>
<div th:replace="fragments/menu :: menu"></div>

<h5>Send notifications</h5>

<div class="container">
    <form class="text-center card p-5 mt-5">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title">
        </div>
        <div class="form-group">
            <label for="content">Content</label>
            <textarea class="form-control" id="content" rows="3"></textarea>
        </div>
        <div class="form-group">
            <label for="link">Link</label>
            <input type="text" class="form-control" id="link">
        </div>
        <div class="form-group">
            <label for="content">Language</label>
            <select class="form-control" id="language">
                <option th:each="language : ${languagesDict}"
                        th:value="${language.code}"
                        th:text="${language.value}">
                </option>
            </select>
            <small class="form-text text-muted">Notification will be send only to customers with that language.</small>
        </div>

        <div class="mt-5">
            <button id="send-notifications-button" type="button" class="btn btn-outline-primary" onclick="sendNotifications()">Send notifications</button>
            <button id="notifications-processing-button" class="btn btn-primary" type="button" style="display: none" disabled>
                <span class="spinner-border spinner-border-sm" role="status"></span>
                Processing...
            </button>
        </div>
    </form>
</div>

<div th:replace="fragments/operation-successful-modal :: modal"></div>

</body>

</html>