<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="fragments/head"></div>
    <script th:src="@{/js/admin-statistics-completion.js}"></script>
</head>

<body>
<div th:replace="fragments/menu :: menu"></div>

<h5>Courses&#47;Completion</h5>

<div id="result-container" class="my-4">
    <div class="table-responsive mb-0 pb-0">
        <table class="table bg-light table-bordered table-hover table-sm mb-0 pb-0">
            <thead class="thead-light">
            <tr>
                <th class="align-middle">User</th>
                <th class="align-middle">Course</th>
                <th class="align-middle">Completion</th>
            </tr>
            </thead>
            <tbody id="records">

            </tbody>
        </table>
    </div>
</div>

<div th:replace="fragments/pagination :: pagination"></div>

</body>

</html>