<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="fragments/head"></div>
    <script th:src="@{/js/author.js}"></script>
    <script th:inline="javascript">
        var author = [[${author}]];
    </script>
</head>

<body>
<div th:replace="fragments/menu :: menu"></div>

<div class="container">
    <div class="text-center">
        <h4>Author details</h4>
        <h5>ID: <span th:text="${author.id}"></span></h5>
    </div>

    <form class="bg-light p-5 border">
        <div class="form-row">
            <div class="form-group col-md-6 text-center">
                <label for="first-name">First Name</label>
                <input type="text" class="form-control" id="first-name" th:value="${author.firstName}">
            </div>
            <div class="form-group col-md-6 text-center">
                <label for="last-name">Last Name</label>
                <input type="text" class="form-control" id="last-name" th:value="${author.lastName}">
            </div>
        </div>
        <div class="text-center">
            <button type="button" class="btn btn-danger mt-3" data-toggle="modal" data-target="#delete-object-modal">Delete</button>
            <button type="button" class="btn btn-warning mt-3" onclick="history.back()" th:text="#{Cancel}"></button>
            <button type="button" class="btn btn-warning mt-3" onclick="sendUpdateRequest()">Save changes</button>
        </div>
    </form>

</div>

<div th:replace="fragments/operation-successful-modal :: modal"></div>
<div th:replace="fragments/delete-object-modal :: modal"></div>
</body>

</html>