<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>
        <div th:replace="fragments/head"></div>
        <script th:src="@{/js/context-variables.js}"></script>
    </head>

    <body>
        <div th:replace="fragments/menu :: menu"></div>

        <h5>Context variables</h5>

        <p>Total count: <span id="count">0</span></p>

        <form id="filter" class="bg-light border m-0 p-0 my-3">
            <div class="form-row m-0 p-0">

                <div class="form-group row col-12 col-lg-6 col-xl-4 border m-0 p-0 py-2">
                    <label class="col-12 col-sm-3 col-md-2 col-xl-3 my-auto text-center">Application ID:</label>
                    <div class="col-12 col-sm-9 col-md-10 col-xl-9 my-auto">
                        <input type="text" id="application-id" class="form-control"/>
                    </div>
                </div>

                <div class="form-group row col-12 col-lg-6 col-xl-4 border m-0 p-0 py-2">
                    <label class="col-12 col-sm-3 col-md-2 col-xl-3 my-auto text-center">Context:</label>
                    <div class="col-12 col-sm-9 col-md-10 col-xl-9 my-auto">
                        <input type="text" id="context" class="form-control"/>
                    </div>
                </div>

                <div class="form-group row col-12 col-lg-6 col-xl-4 border m-0 p-0 py-2">
                    <label class="col-12 col-sm-3 col-md-2 col-xl-3 my-auto text-center">Name:</label>
                    <div class="col-12 col-sm-9 col-md-10 col-xl-9 my-auto">
                        <input type="text" id="name" class="form-control"/>
                    </div>
                </div>

                <div class="form-group row col-12 col-lg-6 col-xl-4 border m-0 p-0 py-2">
                    <label class="col-12 col-sm-3 col-md-2 col-xl-3 my-auto text-center">Type:</label>
                    <div class="col-12 col-sm-9 col-md-10 col-xl-9 my-auto">
                        <input type="text" id="type" class="form-control"/>
                    </div>
                </div>
                <div class="form-group row col-12 col-lg-6 col-xl-4 border m-0 p-0 py-2">
                    <label class="col-12 col-sm-3 col-md-2 col-xl-3 my-auto text-center">Context ID:</label>
                    <div class="col-12 col-sm-9 col-md-10 col-xl-9 my-auto">
                        <input type="text" id="context-id" class="form-control"/>
                    </div>
                </div>

                <div class="col-12 col-sm-12 col-lg-6 col-xl-4 border text-center m-0 p-0 py-2 d-flex align-items-center justify-content-center">
                    <button type="button" class="btn btn-secondary" onclick="clearSearchFiltersAndRefresh()">Clear</button>
                </div>

            </div>
        </form>

        <div id="result-container" class="my-4">
            <div class="table-responsive mb-0 pb-0">
                <table class="table bg-light table-bordered table-hover table-sm mb-0 pb-0">
                    <thead class="thead-light">
                        <tr>
                            <th class="align-middle">ID</th>
                            <th class="align-middle">Application ID</th>
                            <th class="align-middle">Context</th>
                            <th class="align-middle">Name</th>
                            <th class="align-middle">Type</th>
                            <th class="align-middle">Value</th>
                            <th class="align-middle">Context ID</th>
                        </tr>
                    </thead>
                    <tbody id="records">

                    </tbody>
                </table>
            </div>
        </div>

        <div th:replace="fragments/pagination :: pagination"></div>

    </body>

</html>