<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all">Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<table width="100%" cellpadding="0" cellspacing="0" bgcolor="0095cc">
    <tr>
        <td height="50" align="center"></td>
    </tr>
    <tr bgcolor="ffffff">
        <td height="100" align="center"><h1 th:text="#{mail.password.reset.header}"></h1></td>
    </tr>
    <tr bgcolor="ffffff">
        <td height="100" align="center"><h3><span th:text="#{mail.password.reset.content}"></span> <a th:href="${passwordRestartUrl}" th:text="#{mail.password.reset.click}"></a></h3></td>
    </tr>
    <tr bgcolor="ffffff">
        <td height="100" align="center"><h3><span th:text="#{mail.password.reset.content.valid}"></span> <span th:text="${tokenValidityTime}"></span> <span th:text="#{mail.password.reset.content.minutes}"></span> </h3></td>
    </tr>
    <tr>
        <td height="50" align="center"></td>
    </tr>
</table>
</body>
</html>