<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>
        <div th:replace="fragments/head"></div>
        <script th:src="@{/js/market.js}"></script>
    </head>

    <body>
        <div th:replace="fragments/menu :: menu"></div>

        <h5>Market</h5>

<!--        <p>Total count: <span id="count">0</span></p>-->

        <form id="filter" class="bg-light border m-0 p-0 my-3">
            <div class="form-row m-0 p-0">

                <div class="form-group row col-12 col-lg-6 col-xl-4 border m-0 p-0 py-2">
                    <label class="col-12 col-sm-3 col-md-2 col-xl-3 my-auto text-center">Search:</label>
                    <div class="col-12 col-sm-9 col-md-10 col-xl-9 my-auto">
                        <input type="text" id="search" class="form-control"/>
                    </div>
                </div>

<!--                <div class="form-group row col-12 col-lg-6 col-xl-4 border m-0 p-0 py-2">-->
<!--                    <label class="col-12 col-sm-3 col-md-2 col-xl-3 my-auto text-center">Application id:</label>-->
<!--                    <div class="col-12 col-sm-9 col-md-10 col-xl-9 my-auto">-->
<!--                        <input type="text" id="application-id" class="form-control"/>-->
<!--                    </div>-->
<!--                </div>-->

<!--                <div class="form-group row col-12 col-lg-6 col-xl-4 border m-0 p-0 py-2">-->
<!--                    <label class="col-12 col-sm-3 col-md-2 col-xl-3 my-auto text-center">Domain:</label>-->
<!--                    <div class="col-12 col-sm-9 col-md-10 col-xl-9 my-auto">-->
<!--                        <input type="text" id="domain" class="form-control"/>-->
<!--                    </div>-->
<!--                </div>-->

                <div class="col-12 col-sm-12 col-lg-6 col-xl-12 border text-center m-0 p-0 py-2 d-flex align-items-center justify-content-center">
                    <button type="button" class="btn btn-secondary" onclick="clearSearchFiltersAndRefresh()">Clear</button>
                </div>

            </div>
        </form>

<!--        <button type="button" class="btn btn-success btn-lg btn-block" data-toggle="modal" data-target="#create-advice-modal">Create</button>-->

        <div id="result-container" class="my-4">
            <div class="table-responsive mb-0 pb-0">
                <table class="table bg-light table-bordered table-hover table-sm mb-0 pb-0">
                    <thead class="thead-light">
                        <tr>
<!--                            <th class="align-middle">ID</th>-->
                            <th class="align-middle">Name</th>
                            <th class="align-middle">Description</th>
                            <th class="align-middle">Tags</th>
                            <th class="align-middle">Price per month</th>
                            <th class="align-middle"></th>
                            <th class="align-middle">Price per quarter</th>
                            <th class="align-middle"></th>
                            <th class="align-middle">Price per half year</th>
                            <th class="align-middle"></th>
                            <th class="align-middle">Price per Year</th>
                            <th class="align-middle"></th>
                        </tr>
                    </thead>
                    <tbody id="records">

                    </tbody>
                </table>
            </div>
        </div>


        <div class="modal fade" id="create-advice-modal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Create new advice</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="text-center">
                            <div class="form-group">
                                <label for="create-advice-app-id">Application ID</label>
                                <input id="create-advice-app-id" type="text" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="create-advice-domain">Domain</label>
                                <input id="create-advice-domain" type="text" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="create-advice-type">Type</label>
                                <input id="create-advice-type" type="text" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="create-advice-scope">Scope</label>
                                <input id="create-advice-scope" type="text" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="create-advice-action">Action</label>
                                <input id="create-advice-action" type="text" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="create-advice-data-type">Data type</label>
                                <input id="create-advice-data-type" type="text" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="create-advice-component">Component</label>
                                <input id="create-advice-component" type="text" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="create-advice-class">Class</label>
                                <input id="create-advice-class" type="text" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="create-advice-name">Name</label>
                                <input id="create-advice-name" type="text" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="create-advice-content">Content</label>
                                <textarea id="create-advice-content" type="text" class="form-control" rows="3"></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" onclick="sendCreateAdviceRequest()">Create</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>


        <div th:replace="fragments/pagination :: pagination"></div>
        <div th:replace="fragments/operation-successful-modal :: modal"></div>
        <div th:replace="fragments/delete-advice-modal :: modal"></div>
    </body>

</html>