<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="fragments/head"></div>
</head>

<body>
<div th:replace="fragments/menu :: menu"></div>

<div class="container">
    <div class="text-center">
        <h4>Procedure for course returning </h4>
    </div>

    <div class="text-center">
        <div></div>
        <div>(Remember, return only courses which was bought in right term)</div>
        <div>1. Customer contact with us by email and say, that he want to return course</div>
        <div>2. Find this order in our system and click details</div>
        <div>3. Click in return button for this purchased course</div>
        <div>4. Search this order in payu panel, and return the same amount as price of course.</div>
        <div>5. Make correction invoice for order in wFirma.</div>
        <div>6. Upload correction invoice to this order.</div>
        <div>7. Notify customer by email about new invoice and return performing.</div>
    </div>

</div>

</body>

</html>