<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="fragments/front-head"></div>
    <script th:src="@{/js/reset-password.js}"></script>
    <script th:src="@{/libs/sha.js}"></script>
    <script th:inline="javascript">
        var token = [[${token}]];
    </script>
</head>

<body>

<nav th:replace="${@courseCustomersService.getLoggedCustomer()} ? 'fragments/logged-in-navbar' : 'fragments/logged-out-navbar'"></nav>

<div class="container">
    <div class="text-center mt-5 mb-5">
        <h3 th:text="#{reset.password.header}"></h3>
    </div>

    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <label for="password" th:text="#{reset.password.enter.pass}"></label>
            <input type="password" class="form-control" id="password" th:placeholder="#{reset.password.pass}">
            <small class="form-text text-muted" th:text="#{password.requirements}"></small>
            <br>
            <label for="repeated-password" th:text="#{reset.password.enter.new.pass}"></label>
            <input type="password" class="form-control" id="repeated-password" th:placeholder="#{reset.password.repeat.pass}">
        </div>
        <div class="col-lg-3"></div>
    </div>

    <div class="text-center my-3">
        <button id="send-request-button" class="btn btn-primary" onclick="performPasswordChange()" th:text="#{reset.password.reset}"></button>
    </div>

    <div id="error-alert" class="alert alert-danger text-center d-none mt-3" role="alert">
        <h4 id="error-alert-text" class="alert-heading"></h4>
    </div>

    <div id="notify-alert" class="alert alert-success text-center d-none mt-3" role="alert">
        <h4 class="alert-heading" th:text="#{reset.password.success}"></h4>
    </div>

</div>

<footer th:replace="fragments/footer"></footer>
</body>

</html>