<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="fragments/head"></div>
    <div th:replace="fragments/datepicker :: imports"></div>
    <script th:src="@{/js/statistics.js}"></script>
</head>

<body>
    <div th:replace="fragments/menu :: menu"></div>

    <h5>Statystyki</h5>

    <form action="#" th:action="@{/statistics}">
        <div class="bg-light border mb-5">
            <div class="row p-0 m-0">
                <div class="col-lg-9 col-md-8 col-sm-6 col-12">
                    <div class="row d-flex align-items-stretch h-50">
                        <div class="col-md-4 col-12 d-flex align-items-center border p-0">
                            <div class="w-100 px-2 py-3">
                                <h6 class="text-center">Data od</h6>
                                <input type="text" class="form-control form-control-sm" id="dateFrom" name="dateFrom"
                                    autocomplete="off" th:value="${defaultStartDate}" />
                            </div>
                        </div>
                        <div class="col-md-4 col-12 d-flex align-items-center border p-0">
                            <div class="w-100 px-2 py-3">
                                <h6 class="text-center">Data do</h6>
                                <input type="text" class="form-control form-control-sm" id="dateTo" name="dateTo"
                                    autocomplete="off" th:value="${defaultEndDate}" />
                            </div>
                        </div>
                        <div class="col-md-4 col-12 d-flex align-items-center border p-0">
                            <div class="w-100 px-2 py-3">
                                <h6 class="text-center">Kierowca</h6>
                                <select class="form-control form-control-sm" id="drivers">
                                    <option value="">Wszyscy</option>
                                    <option th:each="driver : ${drivers}" th:value="${driver.id}"
                                        th:text="${driver.value}">
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row d-flex align-items-stretch h-50">
                        <div class="col-md-4 col-12 d-flex align-items-center border p-0">
                            <div class="w-100 px-2 py-3">
                                <h6 class="text-center">Sposób płatności</h6>
                                <select class="form-control form-control-sm" id="paymentMethod">
                                    <option value="">Wszystkie</option>
                                    <option th:each="method: ${paymentMethods}" th:value="${method.id}"
                                        th:text="${method.value}">
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4 col-12 d-flex align-items-center border p-0">
                            <div class="w-100 px-2 py-3">
                                <h6 class="text-center">Status płatności</h6>
                                <select class="form-control form-control-sm" id="paymentStatus">
                                    <option value="">-&#45;&#45;</option>
                                    <option th:each="status: ${paymentStatuses}" th:value="${status.id}"
                                        th:text="${status.value}">
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4 col-12 d-flex align-items-center border p-0">
                            <div class="w-100 px-2 py-3">
                                <h6 class="text-center">Sposób dostawy</h6>
                                <select class="form-control form-control-sm" id="shipmentType">
                                    <option value="">Wszystkie</option>
                                    <option th:each="type: ${shipmentTypes}" th:value="${type.id}"
                                        th:text="${type.value}"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-12 d-flex justify-content-center border p-0">
                    <div class="mw-75 px-2 py-3">
                        <h6 class="text-center">Diety</h6>
                        <div class="form-check" id="dietId" th:each="diet: ${diets}">
                            <input type="checkbox" class="form-check-input" th:value="${diet.id}">
                            <label class="form-check-label" th:text="${diet.value}"></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div id="result-container">
        <div class="table-responsive">
            <table class="table table-hover table-bordered mb-5 table-sm">
                <thead class="thead-light">
                    <tr>
                        <th>Lp.</th>
                        <th>Klient</th>
                        <th>Zamówienie</th>
                        <th>Kierowca</th>
                        <th>Data</th>
                        <th>Kwota</th>
                    </tr>
                </thead>
                <tbody id="records">

                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4"></td>
                        <th>Suma:</th>
                        <td><span id="sum"></span> PLN</td>
                    </tr>
                </tfoot>
            </table>
        </div>

        <div class="table-responsive">
            <table class="table table-bordered mb-5 table-sm">
                <thead class="thead-light">
                    <tr>
                        <th>Wszystkich zamówień: </th>
                        <th>Liczba klientów, którzy zamówili dietę w podanym terminie:</th>
                        <th>Liczba klientów, którzy nie przedłużyli diety:</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td id="allOrdersCount"></td>
                        <td id="customersWhoOrderedCount"></td>
                        <td><span id="customersWhoDidNotContinueCount"></span> (<span
                                id="customersWhoDidNotContinuePercent"></span>%)</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div th:replace="fragments/datepicker :: code"></div>
</body>

</html>