<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped table-hover">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Type</th>
        <th scope="col">Surface</th>
      </tr>
      </thead>
      <tbody>
      <tr class="link-primary" routerLink="/premises/{{premise.id}}" *ngFor="let premise of premises">
        <td>{{premise.id}}</td>
        <td>{{premise.type}}</td>
        <td>{{premise.surfacePerSqMeter}}m2</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
