
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
       aria-haspopup="true" aria-expanded="false">
      {{ 'Language' | translate }}
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
      <li class="dropdown-item" (click)="changeLanguage('en')">{{"English" | translate}}</li>
      <li class="dropdown-item" (click)="changeLanguage('pl')">{{"Polish" | translate}}</li>
    </ul>
  </li>

